{{ partial "google_analytics.html" . }}
<meta name="description" content="The personal blog of Konstantinas Mamonas, a software engineer writing about technology, programming, and other interests.">
<meta property="og:title" content="Konstantinas Mamonas - Personal Blog">
<meta property="og:description" content="The personal blog of Konstantinas Mamonas, a software engineer writing about technology, programming, and other interests.">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="/img/tn.png">
