.footer .copyright ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

.image-row {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  gap: 20px;               /* spacing between images */
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --accent: #b3cde0 !important;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #011f4b;
    color: #cce7ff;
}

a {
    color: #cce7ff;
    text-decoration: underline;
}
