button,
.button,
a.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin: 5px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--accent);
  background: var(--accent);
  color: var(--accent-contrast-color);
  font: inherit;
  font-weight: bold;
  appearance: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background: color-mix(in srgb, var(--accent), transparent 10%);
  }
}
