.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: .5;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 100%;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    span {
      white-space: nowrap;
    }
  }
}

.social-icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
