.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: none;
  color: var(--color);
  padding: 0;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.02em;
}
