@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/inter.woff2') format('woff2');
}

@import "variables";

@import "buttons";
@import "header";
@import "menu";
@import "logo";
@import "main";
@import "post";
@import "cards";
@import "pagination";
@import "footer";
@import "syntax";
@import "terms";
@import "about";
