/* Chroma classes mapping to theme colors */
.kd { /* Keyword */
  color: var(--syntax-value-color) !important;
}
.c, .c1 { /* Comment */
  color: var(--syntax-comment-color) !important;
}
.s, .s1, .s2, .s_ { /* String */
  color: var(--syntax-value-color) !important;
}
.mi, .mf { /* Number */
  color: var(--syntax-value-color) !important;
}
.p { /* Punctuation */
  color: var(--syntax-punctuation-color) !important;
}
.nf { /* Function Name */
  color: var(--syntax-func-color) !important;
}
.nv { /* Variable Name */
  color: var(--syntax-var-color) !important;
}
.o { /* Operator */
  color: var(--syntax-var-color) !important;
}
.kt { /* Type */
  color: #cc99cd !important;
}
.nx { /* Name.Other (like 'Engine') */
  color: var(--syntax-func-color) !important;
}